.layout-wrapper-main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.section {
    min-height: calc(100vh - 3.5rem);
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    margin: auto;
    margin-top: 3.5rem;
    gap: .5rem;
    box-sizing: border-box;
    padding: .5rem;
}